.pagination {
    &__list {
        display: flex;
    }

    &__button {
        @include reset-button;
        @include square(24px);
        @include flex-center;

        color: var(--color-light);

        @include hover {
            color: var(--color-accent);
        }

        &.is-current {
            color: var(--color-accent);
        }
    }

}