.process {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        counter-reset: custom-counter;
        list-style: none;
    }

    &__item {
        counter-increment: custom-counter;
    }

    &__accordion {
        --indicatorVerticalRotate: 90deg;

        background-color: var(--color-gray);
        border: var(--border);
        border-radius: var(--border-radius-large);
        box-shadow: var(--shadow);
        padding: 40px 60px;
        transition-duration: var(--transition-duration);

        @include hover {
            background-color: var(--color-accent);
        }

        &[open] {
            --indicatorVerticalRotate: 0deg;

            background-color: var(--color-accent);
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 50px;
            cursor: pointer;
            user-select: none;
        }

        &-title {
            display: flex;
            align-items: center;
            column-gap: 25px;
            &::before {
                content: "0" counter(custom-counter);
                font-size: 2em;
            }
        }

        &-indicator {
            @include square(58px);
            @include flex-center;

            background-color: var(--color-gray);
            border: var(--border);
            border-radius: 50%;
            position: relative;

            &::before,
            &::after {
                @include abs-center;
                content: '';
                width: 45%;
                height: 10%;
                background-color: var(--color-dark);
            }

            &::after {
                rotate: var(--indicatorVerticalRotate);
            }
        }
    }

    &__accordion-body {
        margin-top: 30px;
        border-top: var(--border);
        padding-top: 30px;
    }
}