.soc1als {
    &__list {
        display: flex;
        column-gap: 20px;
    }
    
    &__item {
        @include square(30px);
        @include flex-center(true);

        background-color: var(--color-light);
        border-radius: 50%;
        color: var(--color-dark);

        @include hover {
            background-color: var(--color-accent);
        }

        :nth-child(2) {
            justify-content: flex-end;
            align-items: end;   
        }
    }
}